.header {
  position: absolute;
  top: 0;
  transition: 0.6s;
  width: 100%;
  z-index: 9;

  @media (max-width: 991px) {
    background: hsla(0, 0%, 100%, 0.82);
    backdrop-filter: blur(6px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
}

.sticky {
  background: hsla(0, 0%, 100%, 0.82);
  backdrop-filter: blur(6px);
  box-shadow: 0px 2px 12px rgba(57, 37, 140, 0.2);
  position: fixed;
  top: 0;
}

.navigation {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  justify-content: space-between;
  padding: 16px 0;
  position: relative;
  width: 100%;
  z-index: 9;

  &__content {
    align-items: center;
    display: flex;

    li {
      list-style-type: none;

      a {
        color: #7c8996;
        margin-left: 58px;
        text-decoration: none;
        text-transform: capitalize;

        &:hover {
          font-weight: 800;
        }
      }
    }

    &__desktop {
      @media (max-width: 991px) {
        display: none;
      }
    }
  }

  &__logo {
    width: 140px;
  }

  &__active {
    color: $dark-primary !important;
  }

  &__mobile {
    display: none;
    font-size: 18px;
    font-weight: 400;
    padding: 18px 0;
    text-transform: capitalize;
    width: 100%;

    a {
      border-bottom: 1px solid rgba(0, 0, 0, 0.13);
      color: #7c8996;
      display: block;
      margin-bottom: 12px;
      padding: 12px 0;
      text-decoration: none;

      &:last-child {
        border: none;
      }
    }

    &__btn {
      border: 1px solid $blue-primary !important;
      color: $blue-primary !important;
      font-size: 16px;
      padding: 12px;

      &:hover {
        color: #fff !important;
      }

      &--responsive {
        @media (max-width: 767px) {
          display: none;
        }
      }

      &--down {
        @media (min-width: 768px) {
          display: none !important;
        }
      }
    }
  }

  &__btn {
    border-color: $blue-primary;
    color: $blue-primary;
    font-size: 16px;
    margin-left: 58px;
    padding: 12px;
  }
}

.second-button:focus {
  box-shadow: none !important;
}

.secondary {
  background: hsla(0, 0%, 100%, 0.82);
  backdrop-filter: blur(6px);
  box-shadow: 0px 2px 12px rgba(57, 37, 140, 0.2);
}
